<div class="reg">
    <h2>SignIn</h2>
    <br><br>
    <div class="mb-3">
        <label for="uname" class="form-label">Username</label><br>
        <input type="text" class="form-control" id="uname" [(ngModel)]="uname">
      </div>
      <br>
      <div class="mb-3">
        <label for="pass" class="form-label">Password</label><br>
        <input type="password" class="form-control" id="pass" [(ngModel)]="pass">
      </div>
      <br>
      
      <button >SignIn</button>
      <br>
      <a id="up"routerLink="signup">Don't have an account??Create One</a>
    </div>
