<div class="reg">
    <h2>SignUp</h2>
    <br><br>
    <div class="mb-3">
        <label for="uname" class="form-label">Username</label><br>
        <input type="text" class="form-control" id="uname" [(ngModel)]="uname">
      </div>
      <br>
      <div class="mb-3">
        <label for="pass" class="form-label">Password</label><br>
        <input type="password" class="form-control" id="pass" [(ngModel)]="pass">
      </div>
      <br>
      <div class="mb-3">
        <label for="repass" class="form-label">Re-enter Password</label><br>
        <input type="password" class="form-control" id="repass" [(ngModel)]="repass">
      </div>
      <br>
      <button >SignUp</button>
      <p>Already have an account??login</p>
    </div>

